<div class="p-d-inline-flex box">
  <form
    #creationstepForm="ngForm"
    (ngSubmit)="submitDataStep(creationstepForm.value)"
  >
    <div class="flex mt-5 pt-3 justify-content-end flex-wrap">
      <button
        pButton
        pRipple
        type="button"
        class="h-2rem btn-annuler"
        label="Cancel"
        icon="pi pi-times"
        (click)="navigate()"
      ></button>
      <button
        pButton
        pRipple
        type="submit"
        class="ml-3 mr-4 h-2rem btn-enregistrer"
        label="Save"
        icon="pi pi-check"
      ></button>
    </div>
    <div class="ml-4 pt-3">
      <h4>Step</h4>
    </div>
    <div class="p-fluid grid formgrid ml-3 mr-3">
      <div class="field col-6 md:col-4">
        <label for="nameStep">Step name:</label>
        <input
          type="text"
          id="nameStep"
          name="nameStepInput"
          [(ngModel)]="pageObject.stepToDisplay.name"
          pInputText
          ngModel
          required
        />
      </div>
      <div class="field col-6 md:col-4">
        <label for="previousStep">Previous Step :</label>
        <p-dropdown
          id="previousStep"
          name="previousStepInput"
          [options]="pageObject.possiblePreviousStepsTotal"
          optionLabel="name"
          [(ngModel)]="pageObject.selectedPreviousStep"
          placeholder="Pick a type "
          [showClear]="true"
        ></p-dropdown>
      </div>
    </div>
    <div class="p-fluid grid formgrid ml-3 mr-3">
      <div class="field col-8 md:col-4">
        <label for="description">Step description: </label>
        <textarea
          id="description"
          name="descriptionInput"
          rows="3"
          cols="80"
          pInputTextarea
          [(ngModel)]="pageObject.stepToDisplay.description"
          ngModel
          required
        ></textarea>
      </div>
    </div>
  </form>
  <hr />
  <div class="ml-4">
    <div class="ml-4 pt-3">
      <h4>Step fields</h4>
    </div>

    <div
      class="step-wrapper d-flex flex-row justify-content-between align-items-stretch h-100"
    >
      <div class="canvas-container w-75 bg-light">
        <div class="canvas bg-light m-auto h-75 w-75">
          <div
            class="list-container"
            cdkDropList
            #canvas="cdkDropList"
            [cdkDropListData]="droppedFields"
            [cdkDropListConnectedTo]="[fieldsList]"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="dropped-field-entry"
              *ngFor="let field of droppedFields; let i = index"
              cdkDrag
              [cdkDragData]="field"
            >
              <div [ngSwitch]="field">
                <ng-template [ngSwitchCase]="fieldType.checkboxes">
                  <app-checkboxes
                    [droppedFieldId]="i"
                    [droppedFieldType]="field"
                    (trashed)="removeField(i)"
                    (config)="
                      showConfigurationDialog({
                        fieldPosition: i,
                        fieldCategory: field,
                        fieldConfiguration: stepFields[i].configuration
                      })
                    "
                    (configurationEmitter)="registerFieldConfiguration($event)"
                  ></app-checkboxes>
                </ng-template>
                <ng-template [ngSwitchCase]="fieldType.dropdown">
                  <app-dropdown
                    [droppedFieldId]="i"
                    [droppedFieldType]="field"
                    (trashed)="removeField(i)"
                    (config)="
                      showConfigurationDialog({
                        fieldPosition: i,
                        fieldCategory: field,
                        fieldConfiguration: stepFields[i].configuration
                      })
                    "
                    (configurationEmitter)="registerFieldConfiguration($event)"
                  ></app-dropdown>
                </ng-template>
                <ng-template [ngSwitchCase]="fieldType.file_input">
                  <app-file-input
                    [droppedFieldId]="i"
                    [droppedFieldType]="field"
                    (trashed)="removeField(i)"
                    (config)="
                      showConfigurationDialog({
                        fieldPosition: i,
                        fieldCategory: field,
                        fieldConfiguration: stepFields[i].configuration
                      })
                    "
                    (configurationEmitter)="registerFieldConfiguration($event)"
                  ></app-file-input>
                </ng-template>
                <ng-template [ngSwitchCase]="fieldType.radio_buttons">
                  <app-radio-buttons
                    [droppedFieldId]="i"
                    [droppedFieldType]="field"
                    (trashed)="removeField(i)"
                    (config)="
                      showConfigurationDialog({
                        fieldPosition: i,
                        fieldCategory: field,
                        fieldConfiguration: stepFields[i].configuration
                      })
                    "
                    (configurationEmitter)="registerFieldConfiguration($event)"
                  ></app-radio-buttons>
                </ng-template>
                <ng-template [ngSwitchCase]="fieldType.slider">
                  <app-slider
                    [droppedFieldId]="i"
                    [droppedFieldType]="field"
                    (trashed)="removeField(i)"
                    (config)="
                      showConfigurationDialog({
                        fieldPosition: i,
                        fieldCategory: field,
                        fieldConfiguration: stepFields[i].configuration
                      })
                    "
                    (configurationEmitter)="registerFieldConfiguration($event)"
                  ></app-slider>
                </ng-template>
                <ng-template [ngSwitchCase]="fieldType.text_input">
                  <app-text-input
                    [droppedFieldId]="i"
                    [droppedFieldType]="field"
                    (trashed)="removeField(i)"
                    (config)="
                      showConfigurationDialog({
                        fieldPosition: i,
                        fieldCategory: field,
                        fieldConfiguration: stepFields[i].configuration
                      })
                    "
                    (configurationEmitter)="registerFieldConfiguration($event)"
                  ></app-text-input>
                </ng-template>
                <ng-template [ngSwitchCase]="fieldType.date_input">
                  <app-date-input
                    [droppedFieldId]="i"
                    [droppedFieldType]="field"
                    (trashed)="removeField(i)"
                    (config)="
                      showConfigurationDialog({
                        fieldPosition: i,
                        fieldCategory: field,
                        fieldConfiguration: stepFields[i].configuration
                      })
                    "
                    (configurationEmitter)="registerFieldConfiguration($event)"
                  ></app-date-input>
                </ng-template>
                <ng-template [ngSwitchCase]="fieldType.file_output">
                  <app-file-output
                    [droppedFieldId]="i"
                    [droppedFieldType]="field"
                    (trashed)="removeField(i)"
                    (config)="
                      showConfigurationDialog({
                        fieldPosition: i,
                        fieldCategory: field,
                        fieldConfiguration: stepFields[i].configuration
                      })
                    "
                    (configurationEmitter)="registerFieldConfiguration($event)"
                  ></app-file-output>
                </ng-template>
                <ng-template [ngSwitchCase]="fieldType.link_output">
                  <app-link-output
                    [droppedFieldId]="i"
                    [droppedFieldType]="field"
                    (trashed)="removeField(i)"
                    (config)="
                      showConfigurationDialog({
                        fieldPosition: i,
                        fieldCategory: field,
                        fieldConfiguration: stepFields[i].configuration
                      })
                    "
                    (configurationEmitter)="registerFieldConfiguration($event)"
                  ></app-link-output>
                </ng-template>
                <ng-template [ngSwitchCase]="fieldType.text_output">
                  <app-text-output
                    [droppedFieldId]="i"
                    [droppedFieldType]="field"
                    (trashed)="removeField(i)"
                    (config)="
                      showConfigurationDialog({
                        fieldPosition: i,
                        fieldCategory: field,
                        fieldConfiguration: stepFields[i].configuration
                      })
                    "
                    (configurationEmitter)="registerFieldConfiguration($event)"
                  ></app-text-output>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="fields-panel w-25"
        cdkDropList
        #fieldsList="cdkDropList"
        [cdkDropListData]="availableFields"
        [cdkDropListConnectedTo]="[canvas]"
        [cdkDropListEnterPredicate]="noReturnPredicate"
        cdkDropListSortingDisabled
      >
        <div class="accordion" id="fields-to-drop">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Input fields
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
            >
              <div class="accordion-body">
                <div
                  class="field-entry mt-1 pt-2"
                  *ngFor="let field of inputFields; let i = index"
                  cdkDrag
                  [cdkDragData]="field"
                >
                  <div [ngSwitch]="field">
                    <ng-template [ngSwitchCase]="inputFieldType.checkboxes">
                      <div class="d-flex align-items-center pt-2">
                        <div class="ml-4 mr-2">
                          <app-checkboxes *cdkDragPreview></app-checkboxes>
                          <fa-icon
                            [icon]="faCheckSquare"
                            style="
                              font-size: 20px;
                              color: rgb(54, 105, 193);
                              font-weight: bold;
                            "
                          ></fa-icon>
                        </div>
                        <div class="mr-4">Checkboxes</div>
                      </div>
                    </ng-template>
                    <ng-template [ngSwitchCase]="inputFieldType.dropdown">
                      <div class="d-flex align-items-center pt-2">
                        <div class="ml-4 mr-2">
                          <app-dropdown *cdkDragPreview></app-dropdown>
                          <fa-icon
                            [icon]="faCircleArrowDown"
                            style="
                              font-size: 20px;
                              color: rgb(54, 105, 193);
                              font-weight: bold;
                            "
                          ></fa-icon>
                        </div>
                        <div class="mr-4">Dropdown</div>
                      </div>
                    </ng-template>
                    <ng-template [ngSwitchCase]="inputFieldType.file_input">
                      <div class="d-flex align-items-center pt-2">
                        <div class="ml-4 mr-2">
                          <app-file-input *cdkDragPreview></app-file-input>
                          <fa-icon
                            [icon]="faFileUpload"
                            style="
                              font-size: 20px;
                              color: rgb(54, 105, 193);
                              font-weight: bold;
                            "
                          ></fa-icon>
                        </div>
                        <div class="mr-4">Upload file</div>
                      </div>
                    </ng-template>
                    <ng-template [ngSwitchCase]="inputFieldType.radio_buttons">
                      <div class="d-flex align-items-center pt-2">
                        <div class="ml-4 mr-2">
                          <app-radio-buttons
                            *cdkDragPreview
                          ></app-radio-buttons>
                          <fa-icon
                            [icon]="faCheckCircle"
                            style="
                              font-size: 20px;
                              color: rgb(54, 105, 193);
                              font-weight: bold;
                            "
                          ></fa-icon>
                        </div>
                        <div class="mr-4">Radio buttons</div>
                      </div>
                    </ng-template>
                    <ng-template [ngSwitchCase]="inputFieldType.slider">
                      <div class="d-flex align-items-center pt-2">
                        <div class="ml-4 mr-2">
                          <app-slider *cdkDragPreview></app-slider>
                          <fa-icon
                            [icon]="faSliders"
                            style="
                              font-size: 20px;
                              color: rgb(54, 105, 193);
                              font-weight: bold;
                            "
                          >
                          </fa-icon>
                        </div>
                        <div class="mr-4">Slider</div>
                      </div>
                    </ng-template>
                    <ng-template [ngSwitchCase]="inputFieldType.text_input">
                      <div class="d-flex align-items-center pt-2">
                        <div class="ml-4 mr-2">
                          <app-text-input *cdkDragPreview></app-text-input>
                          <fa-icon
                            [icon]="faT"
                            style="
                              font-size: 20px;
                              color: rgb(54, 105, 193);
                              font-weight: bold;
                            "
                          ></fa-icon>
                        </div>
                        <div class="mr-4">Text input</div>
                      </div>
                    </ng-template>
                    <ng-template [ngSwitchCase]="inputFieldType.date_input">
                      <div class="d-flex align-items-center pt-2">
                        <div class="ml-4 mr-2">
                          <app-date-input *cdkDragPreview></app-date-input>
                          <fa-icon
                            [icon]="faCalendarDay"
                            style="
                              font-size: 20px;
                              color: rgb(54, 105, 193);
                              font-weight: bold;
                            "
                          ></fa-icon>
                        </div>
                        <div class="mr-4">Date input</div>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="true"
                aria-controls="collapseTwo"
              >
                Output fields
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse show"
              aria-labelledby="headingTwo"
            >
              <div class="accordion-body">
                <div
                  class="field-entry mt-1 pt-2"
                  *ngFor="let field of outputFields; let i = index"
                  cdkDrag
                  [cdkDragData]="field"
                >
                  <div [ngSwitch]="field">
                    <ng-template [ngSwitchCase]="outputFieldType.file_output">
                      <div class="d-flex align-items-center pt-2">
                        <div class="ml-4 mr-2">
                          <app-file-output *cdkDragPreview></app-file-output>
                          <fa-icon
                            [icon]="faFile"
                            style="
                              font-size: 20px;
                              color: rgb(54, 105, 193);
                              font-weight: bold;
                            "
                          >
                          </fa-icon>
                        </div>
                        <div class="mr-4">File output</div>
                      </div>
                    </ng-template>
                    <ng-template [ngSwitchCase]="outputFieldType.link_output">
                      <div class="d-flex align-items-center pt-2">
                        <div class="ml-4 mr-2">
                          <app-link-output *cdkDragPreview></app-link-output>
                          <fa-icon
                            [icon]="faExternalLink"
                            style="
                              font-size: 20px;
                              color: rgb(54, 105, 193);
                              font-weight: bold;
                            "
                          ></fa-icon>
                        </div>
                        <div class="mr-4">Link</div>
                      </div>
                    </ng-template>
                    <ng-template [ngSwitchCase]="outputFieldType.text_output">
                      <div class="d-flex align-items-center pt-2">
                        <div class="ml-4 mr-2">
                          <app-text-output *cdkDragPreview></app-text-output>
                          <fa-icon
                            [icon]="faFileText"
                            style="
                              font-size: 20px;
                              color: rgb(54, 105, 193);
                              font-weight: bold;
                            "
                          ></fa-icon>
                        </div>
                        <div class="mr-4">Text output</div>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
