<div class="p-d-inline-flex box">
  <div class="card">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left"> </ng-template>
      <ng-template pTemplate="right">
        <button
          pButton
          pRipple
          label="New inventory process"
          icon="pi pi-plus"
          (click)="goToCreationProcess()"
        ></button>
      </ng-template>
    </p-toolbar>
  </div>
  <p-confirmDialog
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"
  ></p-confirmDialog>
  <p-toast position="top-right"></p-toast>
  <p-table
    #p
    [value]="processes"
    styleClass="p-datatable-sm mx-3 my-3"
    responsiveLayout="scroll"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowHover]="true"
    [rowsPerPageOptions]="[5, 10, 15]"
    dataKey="id"
    [resizableColumns]="true"
    [globalFilterFields]="['isFavorite', 'name', 'creationDate', 'state']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center" style="background-color: #edf2f7"></th>
        <th style="background-color: #edf2f7" pSortableColumn="name">
          Inventory process name<p-sortIcon field="processName"></p-sortIcon>
        </th>
        <th
          class="text-center"
          style="background-color: #edf2f7"
          pSortableColumn="creationDate"
        >
          Creation date<p-sortIcon field="creationDate"></p-sortIcon>
        </th>
        <th
          class="text-center"
          style="background-color: #edf2f7"
          pSortableColumn="state"
        >
          Status<p-sortIcon field="state"></p-sortIcon>
        </th>
        <th
          class="text-center"
          style="background-color: #edf2f7"
          width="15%"
        ></th>
      </tr>
      <tr>
        <th class="text-center">
          <p-columnFilter type="boolean" field="isFavorite"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="name"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="date" field="creationDate">
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-calendar
                #calendar
                [ngModel]="value"
                (onSelect)="filter(calendar.value)"
                dateFormat="dd/mm/yy"
                appendTo="body"
              ></p-calendar>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="state" matchMode="equals" [showMenu]="false">
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-dropdown
                [ngModel]="value"
                optionValue="value"
                optionLabel="label"
                [options]="states"
                (onChange)="filter($event.value)"
                placeholder="Any"
                [showClear]="true"
                appendTo="body"
              >
                <ng-template let-option pTemplate="item">
                  <span
                    [class]="'process-badge state-' + option.value | lowercase"
                    >{{ option.label }}</span
                  >
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-process>
      <tr>
        <td class="text-center">
          <i
            class="pi"
            [ngClass]="{
              'text-warning pi-star-fill': process.isFavorite,
              'false-icon text text-bold pi-star': !process.isFavorite
            }"
            (click)="favoriteUnfavoriteProcess(process.id)"
          ></i>
        </td>
        <td>
          <span class="p-column-title">Inventory process name</span>
          {{ process.name }}
        </td>
        <td>
          <span class="p-column-title">Creation date</span>
          {{ process.creationDate | date: "dd/MM/yyyy HH:mm" }}
        </td>
        <td class="text-center">
          <span class="p-column-title">Status</span>
          <span
            *ngIf="process.state === unpublished"
            [class]="'process-badge state-' + process.state | lowercase"
            >Disabled</span
          >
          <span
            *ngIf="process.state === scheduled"
            [class]="'process-badge state-' + process.state | lowercase"
            >Scheduled</span
          >
          <span
            *ngIf="process.state === published"
            [class]="'process-badge state-' + process.state | lowercase"
            >Published</span
          >
        </td>
        <td class="text-center">
          <button
            *ngIf="
              process.state == 'Unpublished' || process.state == 'Scheduled'
            "
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-outlined p-button-text p-button-primary mr-2"
            (click)="updateProcess(process.id)"
          ></button>
          <button
            *ngIf="
              process.state == 'Unpublished' || process.state == 'Scheduled'
            "
            pButton
            pRipple
            icon="pi pi-folder-open"
            class="p-button-rounded p-button-outlined p-button-text p-button-secondary"
            (click)="confirmProcessArchiving(process.id)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-eye"
            class="p-button-rounded p-button-outlined p-button-text p-button-success ml-2"
            (click)="processDetails(process.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No inventory process was found</td>
      </tr>
    </ng-template>
  </p-table>
</div>
