.requiredInput.ng-invalid
{
    border-left: 5px solid red;
}
.requiredInput.ng-valid 
{
    border-left: 5px solid green;
}

p-inputNumber.ng-invalid
{
    border-left: 5px solid red;
}
p-inputNumber.ng-valid 
{
    border-left: 5px solid green;
}

 
label
{
    font-weight:500;
}

::ng-deep.swal2-container {
    z-index: 1000000;
}